/* Reset global */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
.p-toast-message-success {
  background-color: #27AE60 !important;
  color: black !important;
}

.p-toast-message-error {
  background-color: #E74C3C !important;
  color: white !important;
}


